
<% @all_users.each do |user| %>

  <p><a href="/users/<%= user.id %>"><%= user.username %></a></p>
<% end %>

<%= form_tag "/users", method: "post" do %>
Username: <Br/>
  <input type="text" name="username" />
  battletag: <Br/>
  <input type="text" name="battletag" />
  current sr: <Br/>
  <input type="integer" name="sr" />
  <input type="submit" value="Add user" />
<% end %>