
<% @all_srs.each do |sr| %>

  <p><a href="/sr/<%= sr.id %>"><%= sr.userid  %> <%= sr.newsr %></a></p>
<% end %>

<%= form_tag "/sr", method: "post" do %>
  <p>New SR:</p>
  <input  type="text" name="newsr" />
  <p>userid:</p>
  <input  type="text" value="1" name="userid"/>
  <p>datetime:</p>
  <input  type="datetime-local" value="2017-06-01T08:30" name="datetime"/>
  <p>performance:</p>
  <input  type="text" name="performance"/>
  <p>hero:</p>
  <input  type="text" name="hero"/>
  <p>comment:</p>
  <input type="text" size="40" name="comment"/>
 </br>
  <input type="submit" value="Add sr" />
<% end %>
